* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    flex-wrap: wrap;
    background-color: aqua;
    border-radius: 25px;
    max-width: 760px;
   
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 30px;
}

input {
    min-width: 250px;
    width: 50%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    margin-bottom: 10px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
    background: white;
    padding: 5px 25px;
}

.contactItem {
    border: 2px solid rgb(36, 175, 129);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
    padding: 10px;
}
p {
    margin: 10px;
}
img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.wrapper {
    padding: 25px;
    display: flex;
    width: 35%;
    flex-wrap: wrap;
    justify-content: center;
}